@use "../styles/theme.scss";

:local(.back-button),
:local(.lights-button) {
  position: absolute;
  top: 16px;
  pointer-events: auto;

  svg {
    color: theme.$overlay-text-color;
  }

  @media (min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    display: none;
  }
}

:local(.back-button) {
  left: 8px;
}

:local(.metadata) {
  font-size: 11px;
  text-align: center;
}

:local(.lights-button) {
  right: 8px;
}

:local(.object-menu-container) {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  pointer-events: auto;

}

:local(.object-menu) {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  width: max-content;
  color: theme.$overlay-text-color;
  border-radius: 12px;

  svg {
    color: theme.$overlay-text-color;
  }
}

:local(.header) {
  display: none;
  height: 48px;
  align-items: center;
  justify-content: center;

  @media (min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    display: flex;
  }
}

:local(.close-button) {
  position: absolute;
  left: 16px;
}

:local(.lights-header-button) {
  position: absolute;
  right: 16px;
}

:local(.menu) {
  display: flex;
  padding: 16px;
  justify-content: center;

  @media (min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    padding-top: 0;
  }
}

:local(.object-menu-button) {
  height: 36px;
  padding: 0 16px;
  color: theme.$overlay-text-color;
}

:local(.separator) {
  width: 1px;
  margin: 0 4px;
  background-color: theme.$overlay-border-color;
}

:local(.pagination) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: theme.$overlay-text-color;
  margin-top: 24px;
  padding: 0 4px;

  svg {
    color: theme.$overlay-text-color;
  }

  @media (min-width: theme.$breakpoint-lg) and (min-height: theme.$breakpoint-vr) {
    display: none;
  }


}

:local(.metadataInline) {
  display: flex;
  justify-content: center; // This will center the items on the line
  align-items: center; // This will vertically align the items if they have different heights
  margin-bottom: 5px;

  // Use media queries to ensure it stacks on smaller screens if necessary
  @media (max-width: theme.$breakpoint-sm) {
    flex-direction: column;
  }
}

:local(.metadataField) {
  margin-right: 10px; // Space between fields
  height: 20px;

  &:last-child {
    margin-right: 0; // Remove margin for the last item
  }
}

:local(.metadataTitle) {
  font-weight: bold;
}

:local(.metadataContent) {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

:global(.keyboard-user) {

  :local(.back-button):focus,
  :local(.object-menu-container) :focus {
    box-shadow: 0 0 0 3px theme.$white;
  }
}